@import './components/wrapper.css';
@import './components/Hero.css';
@import './components/Menu.css';
@import './components/Header.css';
@import './components/Titles.css';
@import './components/Setup.css';
@import './components/Sections.css';
@import './components/Quote.css';
@import './components/Code.css';
@import './components/Slider.css';
@import './components/Form.css';
@import './components/Footer.css';


:root {
  font-size: 16px;
  --white30: white;
  --white20: #a5a3a5;
  --white10: #3a3539;
  --background: #251f24;
}

body {
  background: var(--background);
  color: var(--white30);
  font-family: "Nunito", sans-serif;
  margin-inline-start:0;
  margin-inline-end: 0;
  margin-block-end: 0;
  margin-block-start: 0;
}
p {
  color: var(--white20);
  font-size: 17px;
  line-height: 24px;
  font-weight: bold;
}

a {
  color: var(--white30);
}



.BodyVersionB {
  background: var(--background);
  color: var(--white30); 
}
.aVersionB{
  color: var(--white30);
}

.BodyVersionE{
  background:#232946;
  color: #ffff; 
}
.aVersionE{
  color: var(--white30);
}



@media (prefers-color-scheme: light) {
  body {
    background: #FFFFFF;
    color: #212121; 
  }
  a {
    color: #212121;
  }
}

.main-content{
  padding-inline-start: 20px;
  padding-inline-end: 16px;
  
}

.main-content__VersionD{
  text-align: center; 
}

/*
.header{
  position: sticky;
  inset-block-start: 0;
  inset-block-start: 20px;
}

.header-content {
  position: relative;
  backdrop-filter: blur(10px);
}
header {
  font-size: 14px;
  color: (var(--white));
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start: -208px;
  inline-size: 188px ;
}

header li {
  color: var(--white20);
  margin-block-end: 16px;
}
header a {
  color: var(--white20);
  text-decoration: none;
}
header a:hover {
  color: var(--white30);
}

nav details summary {
  font-weight: bold;
}
h1,
h2,
h3 {
  font-weight: normal;
}
h1 {
  font-size: 60px;
  margin-block-start: 64px;
  margin-block-end: 16px;
}
h2 {
  font-size: 2em;
  margin-block: 40px;
}
h3{
  font-size: 1.5em;
  font-weight: 600;
  margin-block: 16px;
}
hr{
  margin-block:40px;
  border-color:  rgba(97, 97, 97, 0.2);
}

.section-content h3::before {
  content: "" counter(titleList) ". ";
}

.section-content {
  counter-reset: titleList;
}

.section-content img{
  margin-block-start: 40px;
  display: block;
  max-inline-size: 100%;
}
.section-content img:nth-of-type(1){
  height: auto;
}
.section-content h3 {
  font-size: 1.5em;
  counter-increment: titleList;
}
.section-content h3::after {
 
}

pre {
  background: var(--white10);
  padding-block-end: 40px;
  padding-block-start:40px ;
  padding-inline-end:40px ;
  padding-inline-start:40px ;
  overflow: auto;
  border-radius: 8px;
}
.hero {
  background: linear-gradient(96.07deg, #314755 30.63%, #26a0da 102.18%);
  height: 350px;
  width: 100%;

}

blockquote{
  margin-block-start: 80px;
  margin-block-end: 63px;
  background-color: var(--white10);
  border-radius: 8px;
  padding-block-end: 24px;
  padding-block-start:24px ;
  padding-inline-end:24px ;
  padding-inline-start:24px ;
  line-height: 32px;
  font-size: 24px;
}

blockquote p {
  
  color: var(--white30);
}

.main{

}

.wrapper{
  max-inline-size: 902px;
  margin: auto;
  overflow: hidden;
}




