.header-content {
  padding-inline-end: 20px;
  
}
header {
  margin-block-start: 20px;
  font-size: 14px;
  color: var(--white);
}

header li {
  color: var(--white20);
  margin-block-start: 16px;
  margin-block-end: 16px;
}

header a {
  color: var(--white20);
  text-decoration: none;
  
}
header a:hover {
  color: var(--white30); 
}

nav{
  margin-block-start: -90px;
}

.selected{
  position: relative;
}

.selected a{
  padding-inline-start: 20px;
  position: absolute;
  top: -10px;
  left: -40px;
  width:  100%;
  color:white;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  background: #5551FF;
}


nav details summary {
  font-weight: bold;
}


@media screen and (min-width: 1366px) {
  .header-content {
    position: relative;
    inset-block-start: 65px;
    padding-inline: 0;
  }
  .header {
    position: sticky;
    inset-block-start: -45px;
  }
  header {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: -208px;
    inline-size: 188px;
  }
  .headerVersionC{
    position: relative;
    inset-inline-start: 0;
    inline-size: 100%;
  }
  .header_C{
    margin-block-end: 120px;
  }
  .headerVersionD{
    inset-inline-start: 920px;
  }
}


@media (prefers-color-scheme: light) {
  header a{
    color: #424242;
  }
  
  header a:hover {
    color: black;
  }
}